# Зависимости
node_modules/
package-lock.json
yarn.lock

# Файлы с переменными окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Файлы редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы операционной системы
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Временные файлы
*.tmp
*.temp
.cache/
.tmp/
dist/

# Файлы конфигурации
config.js
config.json
secrets.json 